<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="SearchTvProgramList" value="https://www.tvkingdom.jp/schedulesBySearch.action?stationPlatformId=0&amp;condition.keyword={0}"/>
  <add key="HomeUrl" value="https://www.tvkingdom.jp/"/>
  <add key="SearchHomeUrl" value="https://www.tvkingdom.jp/schedulesBySearch.action"/>
  <add key="stationAreaId" value="23"/>
</appSettings>
